body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Tops Page*/
body.TopsBody {
    background-image: url('Images/stone_pattern.jpg');
    background-size: cover;
}
img.Images{
    height:100px;
    width:100px;
}

img.Images:hover {
    height: 300px;
    width: 300px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    color:snow;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:snow;
}

a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background-color:black;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:snow;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:snow;
}

/*Bottoms Page*/
body.BottomsBody {
    background-image: url('Images/BBR.jpg');
    background-size:cover;
}

/*Shoes Body*/
body.ShoesBody {
    background-image: url('Images/SBR.jpg');
    background-size:cover;
}
